<ul id="answered">
  <% first = true %>
  <% @polls.each do |poll| %>

      <li>
        <span class="question">
          <%= poll.question %>
          &mdash;
          <%= Category.find(poll.category_id).name %>
        </span>

        <span>
          <% total = poll.yeses + poll.nos %>
          <% if total > 0 %>
              <% yes_percentage = (poll.yeses * 100.0) / (total * 1.0)
                 no_percentage = (poll.nos * 100.0) / (total * 1.0) %>

              <table cellpadding="0" cellspacing="0">
                <% if total > 20 %>
                <caption><%= total %> votes</caption>
                <% end %>
                <tr>
                  <td class="percentage_number"><span class="yes_number"><%= number_to_percentage(yes_percentage, :precision => 0) %></span></td>
                  <td class="no_background">
                    <div style="width: <%= yes_percentage %>%"></div>
                  </td>
                  <td class="percentage_number"><span class="no_number"><%= number_to_percentage(no_percentage, :precision => 0) %></span></td>
                </tr>
              </table>
          <% else %>
              0 votes so far
          <% end %>
        </span>
      </li>
  <% end %>
</ul>