<div id="new_poll">
  <% if flash[:new_id] %>
      You just created a new poll! To follow the voting on your poll, go to
      <a href="http://sharp-sunset-59.heroku.com/polls/<%= flash[:new_id] %>">http://sharp-sunset-59.heroku.com/polls/<%= flash[:new_id] %></a>
  <% end -%>
</div>

<div class="new-question">
  <% if @answer_me.nil? %>
      No more questions for you to answer
  <% else %>
      <h2>Question:</h2>

      <h1><%= @answer_me.question %></h1>
      <h4><%= @category.name %></h4>
      <td>
        <%= link_to image_tag("yes.png", :border => 0), vote_yes_url(:id => @answer_me.id) %>
        <%= link_to image_tag("no.png", :border => 0), vote_no_url(:id => @answer_me.id) %>
      </td>
  <% end %>
</div>

<script>
    Event.observe(window, 'load', function() {
        Event.observe('newQuestionLink', 'click', clickNewQuestionLink);
        handleNewQuestionLink = showNewQuestion;
    });

    function clickNewQuestionLink() {
        handleNewQuestionLink();
    }

    function hideNewQuestion() {
        $('newDiv').className = 'hideMe';
        $('newQuestionLink').innerHTML = 'Ask a question...';
        handleNewQuestionLink = showNewQuestion;
    }

    function showNewQuestion() {
        $('newDiv').className = 'newQuestion';
        $('newQuestionLink').innerHTML = 'Hide';
        handleNewQuestionLink = hideNewQuestion;
        $('poll_question').focus();
    }
</script>
<a id="newQuestionLink">Ask a question...</a>
<div id="newDiv" class="hideMe">
  <%= form_for @poll, :html => {:id => 'new_poll_form'}, :remote => true do |f| %>
      <% if @poll.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

            <ul>
              <% @poll.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :question %>
        <br/>
        <%= f.text_area :question %>
        <br/>
        <%= f.label :category %>
        <br/>
        <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name") %>


      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>



<h2>Polls you've already answered</h2>


<ul id="answered">
  <% first = true %>
  <% @polls.each do |poll| %>

      <li>
        <span class="question">
          <%= poll.question %>
          &mdash;
          <%= Category.find(poll.category_id).name %>
        </span>

        <span>
          <% total = poll.yeses + poll.nos %>
          <% if total > 0 %>
              <% yes_percentage = (poll.yeses * 100.0) / (total * 1.0)
                 no_percentage = (poll.nos * 100.0) / (total * 1.0) %>

              <table cellpadding="0" cellspacing="0">
                <% if total > 20 %>
                <caption><%= total %> votes</caption>
                <% end %>
                <tr>
                  <td class="percentage_number"><span class="yes_number"><%= number_to_percentage(yes_percentage, :precision => 0) %></span></td>
                  <td class="no_background">
                    <div style="width: <%= yes_percentage %>%"></div>
                  </td>
                  <td class="percentage_number"><span class="no_number"><%= number_to_percentage(no_percentage, :precision => 0) %></span></td>
                </tr>
              </table>
          <% else %>
              0 votes so far
          <% end %>
        </span>
      </li>
  <% end %>
</ul>