<div id="question">
  <% if @answer_me.nil? %>
      No more questions for you to answer
  <% else %>
      <h2>Question:</h2>

      <h1><%= @answer_me.question %></h1>
      <h4><%= @category.name %></h4>

      <div id="vote_buttons">
        <%= link_to image_tag("yes.png", :border => 0), vote_yes_url(:id => @answer_me.id), :class=>"vote_button" %>
        <%= link_to image_tag("no.png", :border => 0), vote_no_url(:id => @answer_me.id), :class=>"vote_button" %>
      </div>

      <% unless flash[:just_voted].nil? %>
          <%= render :partial => "answered_poll", :locals => {:poll => flash[:just_voted]} %>
      <% end %>
  <% end %>
</div>



