<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @poll.question %>
</p>

<p>
  <b>Yeses:</b>
  <%= @poll.yeses %>
</p>

<p>
  <b>Nos:</b>
  <%= @poll.nos %>
</p>

<p>
	<b>Category:</b>
	<%= @category.name %>
</p>

<%= link_to 'Back', polls_path %>
