<h1>Listing questions</h1>

<table>
  <tr>
    <th>Question text</th>
    <th>Question ans</th>
    <!-- <th></th> -->
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= link_to question.question_text, question_path(question) %></td>
    <td><%= question.question_ans %></td>
   <!-- <td><%= link_to 'Show', question %></td> -->
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
