<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>Question text:</b>
  <%= @question.question_text %>
</p>

<p>

 <%= simple_form_for(@question, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   
<%= link_to "YES", yes_path(@question), :method => "get", class:"btn btn-success btn-large" %>
<%= link_to "NO", no_path(@question), :method => "get", class:"btn btn-danger btn-large" %>
  </div>



<% end %>

Yes: <%= @response.yes %>
No: <%= @response.no %>
</p>


<% if user_signed_in? %>

<%= link_to 'Edit', edit_question_path(@question) %> |

<% end %>

<%= link_to 'Back', questions_path %>
