<!DOCTYPE html>
<html>
<head>
  <title>Yorn</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script>

      $(document).ready(function() {
//          $("#question").show("slide", { direction: "right" });

          $("a.vote_button").click(function(event) {
              event.preventDefault();
              var $self = $(this);

              $("#question").hide("slide", { direction: "left" },
                                 function() {
                                     document.location = $self.attr('href');
                                 });
          });


          $( "#tabs" ).tabs({ selected: <%= @selected_tab %> });
          if(<%= @selected_tab %> == -1) {
              $("#already_voted_link_holder").addClass("ui-state-focus ui-tabs-selected ui-state-active");
              $("#already_voted_link_holder").removeClass("ui-state-default");
          }

      })

  </script>
</head>
<body>
<div id="header">
  <a href="/polls">TheYesOrNo.com</a>
</div>
<div class="container_12">
  <div class="grid_8" id="tabs">
    <ul>
      <li><a id="vote_link" href="#tabs-1">Vote</a></li>
      <li><a href="#tabs-2">Ask</a></li>  
      <span id="already_voted_link_holder" class="ui-state-default ui-corner-top"><a id="already_voted_link" href="already_voted">View</a></span>
    </ul>
    <div id="tabs-1">
      <div id="question">
        <% if @answer_me.nil? %>
            No more questions for you to answer
        <% else %>
            <h2>Question:</h2>

            <h1><%= @answer_me.question %></h1>
            <h4><%= @category.name %></h4>

            <div id="vote_buttons">
              <%= link_to "YES", vote_yes_url(:id => @answer_me.id), :class=>"vote_button" %>
              <%= link_to "NO", vote_no_url(:id => @answer_me.id), :class=>"vote_button" %>
            </div>

            <% unless flash[:just_voted].nil? %>
                <%= render :partial => "answered_poll", :locals => {:poll => flash[:just_voted]} %>
            <% end %>
        <% end %>
      </div>
    </div>

    <div id="tabs-2">
      <div id="new_poll">
        <% if flash[:new_id] %>
            You just created a new poll! To follow the voting on your poll, go to
            <a href="http://sharp-sunset-59.heroku.com/polls/<%= flash[:new_id] %>">http://sharp-sunset-59.heroku.com/polls/<%= flash[:new_id] %></a>
        <% end -%>
      </div>
      <div id="newDiv" class="newQuestion">
        <%= form_for @poll, :html => {:id => 'new_poll_form'}, :remote => true do |f| %>
            <% if @poll.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

                  <ul>
                    <% @poll.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="field">
              <%= f.label :question %>
              <br/>
              <%= f.text_area :question %>
              <br/>
              <%= f.label :category %>
              <br/>
              <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name") %>


            </div>
            <div class="actions">
              <%= f.submit %>
            </div>
        <% end %>
      </div>
    </div>

    <div id="tabs-3">
      <%= yield %>      
    </div>
  </div>



  <div class="grid_2  ui-corner-all">
    <ul>
      <li>ad 1</li>
      <li>ad 2</li>
      <li>ad 3</li>
      <li>ad 4</li>
    </ul>
  </div>
</div>


</body>
</html>
