<!DOCTYPE html>
<html>
<head>
    <title>Yes or No?</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
    <%= csrf_meta_tag %>
    <script>
        $(document).ready(function() {
            $("a.vote_button").click(function(event) {
                event.preventDefault();
                var $self = $(this);

                $("#question").hide("slide", { direction: "left" },
                                   function() {
                                       document.location = $self.attr('href');
                                   });
            });


            $("#tabs").tabs({ selected: <%= @selected_tab %> });

            <% if @selected_tab == -1 %>
            $("#already_voted_link_holder").addClass("ui-state-focus ui-tabs-selected ui-state-active");
            $("#already_voted_link_holder").removeClass("ui-state-default");
            $("div#tabs ul li a").each(function(index) {
                $(this).click(function(){window.location = "/polls/"+this.hash});
            });
            <% end %>

        $("#yes_button").button();
        $("#no_button").button();
        $("#poll_submit").button();
        big_button($("#no_button"));
        big_button($("#yes_button"));

        $('#new_poll_form input').change(function() {
            $(this).parent().ajaxSubmit({
                beforeSubmit: function(a, f, o) {
                    o.dataType = 'json';
                },
                complete: function(XMLHttpRequest, textStatus) {
                    // XMLHttpRequest.responseText will contain the URL of the uploaded image.
                    // Put it in an image element you create, or do with it what you will.
                    // For example, if you have an image elemtn with id "my_image", then
                    //  $('#my_image').attr('src', XMLHttpRequest.responseText);
                    // Will set that image tag to display the uploaded image.
                }
            });
        });

        $('#pictures').change(picturesChanged);
        $('#poll_question').keyup(questionChanged);
        });

        function questionChanged(){
            var length = $('#poll_question')[0].value.length;
            if(length > 140) {
                $('#poll_question')[0].value = $('#poll_question')[0].value.substr(0, 140);
                length = 140;
            }

            $("#counter")[0].innerHTML = length+"/140";
        }

        function picturesChanged(){
            var selectedText = $("#pictures option:selected").val();
            if(selectedText == "0") {
                $('#photo').hide();
                $('#photo2').hide();
            } else if(selectedText == "1") {
                $('#photo').show();
                $('#photo2').hide();
            } else if(selectedText == "2") {
                $('#photo').show();
                $('#photo2').show();
            }
        }

        function big_button(button) {
            button.width(150);
            button.height(75);
            button.css("font-size", "2em");
            button.css("font-weight", "bold");
        }
    </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19766017-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
<div id="header">
    <a href="/polls">TheYesOrNo.com</a>
</div>
<div class="container_12">


    <div class="grid_12" id="tabs">
        <ul>
            <li><a id="vote_link" href="#tabs-1">Vote</a></li>
            <li><a href="#tabs-2">Ask</a></li>
            <li><a href="#tabs-4">About Us</a></li>
            <li><a href="#tabs-5">Contact us</a></li>
        </ul>
        <div id="tabs-1">
                <%
                    two_pics = !@answer_me.nil? && !@answer_me.photo.nil? && @answer_me.photo.file? && @answer_me.photo2.file?
                %>
                <% if @answer_me.nil? %>
                    No more questions for you to answer
                <% else if @answer_me.photo.file?  %>
                    <% if !two_pics %>
                    <div id="pics">
                        <%= image_tag(@answer_me.photo.url(:large)) unless !@answer_me.photo.file? %>
                        <%= image_tag(@answer_me.photo2.url(:large)) unless !@answer_me.photo2.file? %>
                    </div>
                    <% end %>
                <% end
                    h1_class = @answer_me.photo.file? ? "pic_question" : "text_question";
                %>
                    <h1 class="<%=h1_class%>"><%= @answer_me.question %></h1>
                    <h4><%= @category.name %></h4>

                    <div id="vote_buttons">
                        <%= form_tag "/polls/vote" do %>
                            <%= hidden_field_tag 'id', @answer_me.id %>
                            <% if two_pics %>
                                <% content_tag :button, :type => :submit, :value => "YES", :name => "commit" do%>
                                    <% image_tag @answer_me.photo.url(:large) %>
                                <% end %>
                                <span id="or">or</span>
                                <% content_tag :button, :type => :submit, :value => "NO", :name => "commit" do %>
                                    <%= image_tag @answer_me.photo2.url(:large) %>
                                <% end %>
                            <% else %>
                                <%= submit_tag "YES", :id => "yes_button" %>
                                <span id="or">or</span>
                                <%= submit_tag "NO", :id => "no_button" %>
                            <% end %>
                        <% end %>
                      <div id="facebook" class="ui-corner-all">
                        Like this question? Share it on facebook!
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.theyesorno.com/polls/<%=@answer_me.id%>&action=like" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
                <% end %>
        </div>

        
        <% unless flash[:just_voted].nil? %>
        <br>
        <%= render :partial => "answered_poll", :locals => {:poll => flash[:just_voted]} %>
        <% end %>


        <div id="tabs-2">
            <div id="new_poll">

            </div>
            <div id="newDiv" class="newQuestion">
                <!--START HERE-->
                <%= form_for(@poll, :html => {:method => :post, :id => 'new_poll_form', :multipart => true}, :remote => true) do |f| %>
                    <% if @poll.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being
                                saved:</h2>

                            <ul>
                                <% @poll.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>

                    <div class="field">
                        <%= f.label :question %>
                        <br/>
                        <%= f.text_area :question %>
                        <div id="counter">0/140</div>
                        <br/>
                        <%= f.label :category %>
                        <br/>
                        <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name") %>
                        <div>
                            Pictures
                            <select id="pictures">
                                <option value="0" selected="true">No Pictures</option>
                                <option value="1">1 Picture</option>
                                <option value="2">2 Pictures</option>
                            </select>
                        </div>
                        <div id="photo" style="display:none;">
                            <%= f.label :photo %>
                            <%= f.file_field :photo %>
                        </div>
                        <div id="photo2" style="display:none;">
                            <%= f.label :photo2 %>
                            <%= f.file_field :photo2 %>
                        </div>
                    </div>

                    <div class="actions">
                        <%= f.submit %>
                    </div>
                <% end %>
            </div>
        </div>

        <div id="tabs-4">
            <p>
                <span class="bio_name">Lawrence Brown</span> is the founder and CEO of theYesOrNo.com. Lawrence received
                his
                Bachelor of Science

                in Finance from the University of Illinois at Chicago. While past accolades include working for Merrill
                Lynch
                and a very successful real estate development company, he has spent the last five years working in the
                telecommunications industry. Lawrence started in an entry level sales position but quickly moved in to
                management due to his outstanding sales numbers, his natural born leadership skills and the ability to
                effectively
                manage and motivate people. He has always had a knack for solving problems and developing solutions. One
                of
                his strengths is the ability to bring together talented individuals, establish a common goal, and
                develop those
                ideas into reality. Lawrence also enjoys attending numerous networking events in Chicago, and realizes
                the
                importance of developing and establishing new relationships with other business-minded entrepreneurs in
                Chicago. When not in front of a computer working, Lawrence can often be found exploring the streets of
                Chicago
                with his ever-faithful sidekick and companion, Frank, a 4 year old Pit Bull mix. Although Lawrence does
                not have
                any improv training like his cousin Roman, he still considers himself the funniest member of
                theYesOrNo.com
                team.
            </p>

            <p>
                <span class="bio_name">Roman Zabicki</span> is the lead developer of theYesOrNo.com. Roman received his
                Bachelor
                of Arts in Computer
                Science from the University of Chicago. He started his career at ThoughtWorks, working as a developer on
                projects for Fortune 100 companies. Since 2002, he has been a Java developer at Bank of America. For the
                last five years, he has combined his love of coding and swing dancing by running online registration for
                <a href="http://www.wclx.org">http://www.wclx.org</a>, an annual swing dance gathering in Chicago. He
                has been
                published in IEEE Software magazine and is a graduate of The Second City Training Center Improvisation
                Program.
            </p>

            <p>
                <span class="bio_name">Patrick Wright</span> is head content editor for theYesORNo.com. Patrick brings
                over 10
                years of account
                management experience in varied industries to theYesORNo.com, beginning as a Help Desk Analyst for Kraft
                Foods. Growing tired of the reactive position within Kraft, Patrick took his technical knowledge and
                easing
                personality to more proactive endeavors as Small Business Account Manager for CDW. With honed client
                management skills, Patrick transitioned to mortgage banking, initially with First Capital Mortgage and
                then
                landed a great opportunity as the in-house lender for Koenig & Strey’s Gold Coast office. Upon departure
                from
                K&S, Patrick went to work for a boutique real estate management and investment firm as head of their
                third
                party management division. Realizing the immense opportunity for improvement in the industry, Patrick
                went
                back to Tech Sales with PC Mall and is now forming his own real estate management firm. Patrick’s
                diverse
                background which includes marketing, finance, and customer service will prove valuable to theYesORNo.com
                as
                they continue to grow and attempt to reach a diverse market. Patrick holds a B.S. in Management from
                Northern
                Illinois University. In his spare time he enjoys trying new recipes in his slow cooker and is an amateur
                home
                beer
                brewer. When the weather allows, Patrick likes to compete in numerous 5k and 10k races offered
                throughout the
                city.
            </p>

            <p>
                <span class="bio_name">Paul Heckel</span> is the Director of Innovation and Business Operations at
                theYesORNo.com. Paul is a do-it -all

                technology professional with over ten years of experience in enterprise software development,
                information
                security, IT strategy and risk management, internal audit, web content management, ecommerce systems,
                and
                social marketing. He brings a well- rounded business background having worked with global leaders in
                software,
                telecommunications, transportation, financial service, pharmaceutical, health care, power & gas utility,
                food &
                beverage, automotive, and logistics & supply chain industries in both domestic and international
                environments.
                After earning his B.A. in Comparative Literature and Spanish from the University of Illinois @ Urbana,
                he went
                on to the University of Maryland where he received a Master’s of Science in Technology Management. His
                first
                shining moment was at age 5, when he won the HBO grand prize for best Star Wars Halloween costume as a
                storm trooper where he used Clorox bleach bottles as his armor.
            </p>
        </div>

        <div id="tabs-5">
            We'd love to hear from you. Drop us a line at info@theyesorno.com
        </div>

        <div id="tabs-3">
            <%= yield %>
        </div>

    </div>

    <!--<div id="ads_go_here" class="grid_2 ui-corner-all">-->
    <!--<ul>-->
    <!--<li>ad 1</li>-->
    <!--<li>ad 2</li>-->
    <!--<li>ad 3</li>-->
    <!--<li>ad 4</li>-->
    <!--</ul>-->
    <!--</div>-->
</div>
</body>
</html>
